ehehehhehehfdskdshuds/sofj.txt
DONT TOUCH/game.log
DONT TOUCH/log_counter.txt
__pycache__/
*.pyc
*.log
DONT TOUCH/log/log_counter.txt
DONT TOUCH/log/game.log
DONT TOUCH/log/log_counter.txt
DONT TOUCH/log/mob.csv
/DONT TOUCH/log
/DONT TOUCH/log
/DONT TOUCH/game/log
/DONT TOUCH/game/log
/DONT TOUCH/game/log
/DONT TOUCH/ant_idle_game/log
garbage.txt
